.gradle/
.idea/
build/

local.properties
*.log

captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output.json

*.bin
*.lock

*.jks
*.keystore

*.hprof

google-services.json

/app/release/output-metadata.json
